.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  z-index: 2;
}
/* .header.light-theme::before {
  background-color: white;
} */
.header__container {
  max-width: 1216px;
  margin: 0 auto;
  padding: 0 32px;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}
.logo__link {
  display: flex;
  align-items: center;
  gap: 8px;
}
.logo__link img {
  position: relative;
  z-index: 4;
}
.mobile__menu {
  display: none;
}
.header__list {
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 767px) {
  .mobile__menu {
    display: block;
    z-index: 2;
  }
  .mobile__menu button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: var(--gray);
    text-transform: uppercase;
    transition: color var(--transition-func) var(--transition-dur);
  }
  .mobile__menu button:focus {
    color: var(--orange);
    transition: color var(--transition-func) var(--transition-dur);
  }
  .logo__link img {
    width: 32px;
    height: 32px;
  }
  .logo__link span {
    display: none;
  }
  .header__body {
    height: 48px;
  }
  .header__menu {
    position: fixed;
    top: 0;
    left: -500;
    width: 65%;
    height: 100%;
    background-color: #171717;
    border-radius: 0 10px 10px 0;
    z-index: 3;
    padding: 80px 0 0 0;
    transition: var(--transition-func) var(--transition-dur);
  }
  /* .header__menu.light-theme {
    background-color: var(--white);
  } */
  .header__list {
    display: block;
  }
  .header__link {
    padding: 0 0 24px 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
  }
  /* .header__link.light-theme {
    color: var(--black);
  } */
  .header__link:focus {
    color: var(--orange);
    transition: color var(--transition-func) var(--transition-dur);
  }
  .header__menu.active {
    left: 0;
    transition: var(--transition-func) var(--transition-dur);
  }
  .theme-switcher {
    z-index: 2;
  }
  body.lock {
    overflow: hidden;
  }
}
@media screen and (min-width: 768px) {
  .logo__link span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    z-index: 2;
    transition: color var(--transition-func) var(--transition-dur);
  }
  /* .logo__link span.light-theme {
    color: var(--second-black);
  } */
  .logo__link span:hover,
  :focus {
    color: var(--orange);
    transition: color var(--transition-func) var(--transition-dur);
  }

  .header__menu {
    z-index: 2;
  }
  .header__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--gray);
    transition: color var(--transition-func) var(--transition-dur);
  }
  /* .header__link.light-theme {
    color: var(--gray);
  } */
  .header__link:hover,
  :focus {
    color: var(--orange);
    transition: color var(--transition-func) var(--transition-dur);
  }
  .theme-switcher {
    z-index: 2;
  }
}
