.upcoming{

    font-weight: 500;
    font-family: 'Roboto';
    font-style: normal;
}
.upcoming-error{
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}
@media screen and (min-width: 768) {
    .upcoming {
        width: 707px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1280) {
    .upcoming{
        width: 1216px;
        margin: 0 auto;
    }
}

.upcoming-black{
    color: var(--light-gray);
}
.upcoming-title {
    font-size: 12px;
    line-height: 1.81;
    text-transform: uppercase;
    margin-top: 32px;
    margin-bottom: 24px;
}
body.light-theme .upcoming-title{
    color: var(--black);
}

.upcoming-title-film  {
    font-size: 12px;
    line-height: 1.81px;
    margin-top: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--white-smoke);
}

body.light-theme .upcoming-title-film{
    color: var(--black);
}
body.light-theme .upcoming-black{
    color: var(--black);
}
body.light-theme .upcoming-genre{
    color: var(--second-black);
}
body.light-theme .upcoming-popularity{
    color: var(--second-black);
}
body.light-theme .upcoming-about{
    color: var(--black);
}
body.light-theme .upcoming-overview{
    color: var(--second-black);
}
.upcoming-release-data{
    color: #F87719;
    font-size: 16px;
    line-height: 1.18;
    margin-left: 20px;
}
.upcoming-button {
    color: #111;
        text-align: center;
        width: 140px;
        height: 38px;
        background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
        border: none;
        border-radius: 74px;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        line-height: 1.1;
        transition: color .3s;
        display: flex;
}
.upcoming-popularity {
    font-size: 16px;
    line-height: 1.18px;
    color: var(--white-smoke);
    margin-left: 40px;
}
.upcoming-genre{
font-size: 16px;

color: var(--white-smoke);
margin-left: 70px;
}
.upcoming-white{
    text-transform: uppercase;
        color: var(--black);
        background: var(--white-smoke);
        border-radius: 5px;
        padding: 1px 8px;
        font-size: 14px;
        line-height: 1.14;
}
.upcoming-info-votes {
    margin-left: 35px;
}
.upcoming-about {
    font-size: 16px;
    line-height: 1.18;
    color: var(--light-gray);
    margin-top: 20px;
    margin-bottom: 16px;
}
.upcoming-overview {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: var(--white);
    width: 100%;
}
.body.light-theme .upcoming-overview {
    color: var(--second-black);
}
.upcoming-li-text{
    display: flex;
}
.upcoming-genreNames{
    display: flex;
}

    @media screen and (min-width: 320px) {
        .upcoming-title {
        font-size: 16px;
        line-height: 1.81;
        text-transform: uppercase;
        margin-top: 32px;
        margin-bottom: 24px;
        text-align: start;
        color: var(--white-smoke);
    } 


.upcoming-title-film {
    font-size: 20px;
    line-height: 1.15;
    margin-top: 24px;
    margin-bottom: 20px;}
.upcoming-release, .upcoming-info-vote{
    margin-bottom: 12px;
}
.upcoming-li-text {
    margin-bottom: 12px;
}
.upcoming-genre{
margin-left: 115px;
}
.upcoming-popularity{
margin-left: 78px;
}
.upcoming-ul-text {
    display: block;
}
.upcoming-release-data{
    margin-left: 58px;
}
.upcoming-info-votes {
    margin-left: 72px;
}
.upcoming-overview{
    width: 280px;
    margin-bottom: 20px;
}
}
 @media (min-width: 768px) {
    .upcoming-title {
    font-size: 24px;
    line-height: 1.2;

    margin-bottom: 28px;
 }
 .upcoming-title-film { 
 font-size: 28px;
 line-height: 1.18;
 margin-top: 32px;
 margin-bottom: 24px;}

 .upcoming-ul-text {
     display: flex;
     gap: 122px;
 }
 .upcoming-about {
    margin-top: 20px;
    margin-bottom: 16px;
  }
 .upcoming-overview {
    width: 625px;
    margin-bottom: 20px;
 }
 .upcoming-release-data {
     margin-left: 58px;
 }
.upcoming-button { 
width: 155px;
height: 40px;
font-size: 14px;
}
 }
 @media (min-width: 1280px) {
    .upcoming-title {

    font-size: 28px;
    line-height: 1.2;
 }
.container-upcoming {
    display: flex;
    gap: 16px;
}
.upcoming-title-film {
    font-size: 32px;
    line-height: 1.18;
    margin-top: 0;
    margin-bottom: 28px;
    
}
.upcoming-ul-text {
    display: block;
}
.upcoming-foto-desktop {
    width: 805px;
    height: 458px;
}
.upcoming-overview {
    width: 390px;
    height:  120px;
    overflow-y: auto;
    margin-bottom: 20px;
}
}
    
