.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: 100;

  background: linear-gradient(141.22deg, #ffc22682 9.4%, #f8421976 91.91%);

  opacity: 1;
  visibility: visible;

  transition: opacity var(--transition-dur) var(--transition-func),
    visibility var(--transition-dur) var(--transition-func);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: relative;
  width: 280px;
  max-height: 847px;
  padding: 42px 16px;
  top: 10%;
  left: 50%;
  transform: translateX(-50%) scale(1);
  background-color: var(--black);
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  border-radius: 16px;
  transition: transform var(--transition-dur) var(--transition-func),
    opacity var(--transition-dur) var(--transition-func);
}

body.light-theme .modal {
  background-color: var(--white);
}

.modal-close-btn {
  position: absolute;
  top: 20px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #0000;
  cursor: pointer;
  overflow: hidden;
  width: 24px;
  height: 24px;
}

.icon-close {
  stroke: var(--white);
}

.icon-close:hover,
.icon-close:focus {
  stroke: var(--orange);
}

body.light-theme .icon-close:hover,
body.light-theme .icon-close:focus {
  stroke: var(--orange);
}

body.light-theme .icon-close {
  stroke: var(--black);
}

.film-image {
  margin-right: auto;
  margin-left: auto;
  display: block;
  min-width: 248px;
  height: 345px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 24px 2px rgba(1, 1, 1, 0.45);
  object-fit: cover;
}

.film-non-image {
  margin-right: auto;
  margin-left: auto;
  display: block;
  min-width: 248px;
  height: 250px;
  border-radius: 5px;
  margin-bottom: 20px;
  object-fit: cover;
}

.film-information {
  color: var(--black);
  max-width: 280px;
  text-align: start;
}

.film-title {
  font-size: 20px;
  line-height: 1.3;
  font-weight: 500;
  margin-bottom: 28px;
  color: var(--white-smoke);
}

body.light-theme .film-title {
  color: var(--black);
}

.film-item {
  display: flex;
}

.film-item:not(:last-child) {
  margin-bottom: 12px;
}

.film-details {
  color: var(--light-gray);
  font-size: 14px;
  line-height: 1.18;
  font-weight: 500;
  min-width: 140px;
}

body.light-theme .film-details {
  color: var(--black);
}

.film-info--upper {
  color: var(--white-smoke);
  font-size: 14px;
  line-height: 1.18;
  font-weight: 500;
  max-width: 92px;
  max-height: 33px;
  overflow-y: auto;
}

body.light-theme .film-info--upper {
  color: var(--black);
}

.film-about-title {
  color: var(--light-gray);
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 12px;
}

body.light-theme .film-about-title {
  color: var(--black);
}

.film-about-text {
  color: var(--white);
  font-size: 12px;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 16px;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
}

body.light-theme .film-about-text {
  color: var(--black);
}

.film-rating {
  font-size: 12px;
  background-color: var(--white-smoke);
  color: var(--black);
  border-radius: 5px;
  padding: 1px 8px;
  display: inline-block;
  line-height: 1.14;
}

body.light-theme .film-rating {
  background-color: rgba(248, 159, 25, 0.68);
}

body.light-theme .film-vote-count {
  background-color: rgba(248, 159, 25, 0.68);
}

.film-vote-count {
  background-color: var(--white-smoke);
  color: var(--black);
  border-radius: 5px;
  padding: 1px 4px;
  display: inline-block;
  line-height: 1.14;
  font-size: 12px;
}

.film-divider {
  margin-left: 4px;
  margin-right: 4px;
  font-size: 16px;
  color: var(--white);
}

body.light-theme .film-divider {
  color: var(--black);
}

.film-button {
  font-size: 12px;
  line-height: 1.33;
  font-weight: 400;
  min-width: 140px;
  color: var(--white-smoke);
  cursor: pointer;
  border: transparent;
  padding: 12px 24px;

  background: linear-gradient(black, black) padding-box,
    linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%) border-box;
  border-radius: 74px;
  border: 1px solid transparent;
}

.film-button:hover,
.film-button:focus {
  color: var(--orange);
  background: #ffffff;
}

body.light-theme .film-button {
  background: var(--white-smoke);
  color: var(--orange);
  border: 1px solid var(--orange);
}

body.light-theme .film-button:hover,
body.light-theme .film-button:focus {
  background: linear-gradient(black, black) padding-box,
    linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%) border-box;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 704px;
    max-height: 488px;
    padding: 44px;
  }

  .modal-close-btn {
    top: 24px;
    right: 24px;
  }

  .film-image {
    max-width: 294px;
    height: 400px;
    margin: 0;
  }

  .film-non-image {
    max-width: 294px;
    height: 300px;
    margin: 0;
  }

  .film-wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
  }

  .film-information {
    max-width: 301px;
  }

  .film-title {
    font-size: 24px;
    margin-bottom: 26px;
  }

  .film-about-title {
    margin-bottom: 16px;
  }

  .film-about-text {
    max-height: 140px;
  }

  .film-info--upper {
    max-width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .modal {
    width: 846px;
    max-height: 598px;
    padding: 60px;
  }

  .modal-close-btn {
    top: 40px;
    right: 40px;
  }

  .film-image {
    max-width: 375px;
    height: 478px;
    margin: 0;
  }

  .film-non-image {
    max-width: 375px;
    height: 400px;
    margin: 0;
  }

  .film-information {
    max-width: 331px;
  }

  .film-title {
    margin-bottom: 28px;
  }

  .film-details {
    font-size: 16px;
    min-width: 151px;
  }

  .film-about-text {
    max-height: 159px;
    font-size: 14px;
    line-height: 1.4;
  }
}

/*! ------------------scrollbar--------------- */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--orange);
}

/*! ------------------scrollbar--------------- */