:root {
  --orange: #f87719;
  --black: #111111;
  --second-black: #282828;
  --gray: #595959;
  --light-gray: #b7b7b7;
  --white: #f8f8f8;
  --white-smoke: #ffffff;

  --liner: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  --revers-liner: linear-gradient(
    141.22deg,
    #f84119 9.4%,
    rgba(248, 159, 25, 0.68) 91.91%
  );

  --transition-dur: 250ms;
  --transition-func: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Global styles  */

*,
:before,
:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  background-color: var(--black);
  overflow: overlay;
  transition: background-color var(--transition-func) var(--transition-dur);
}

body.light-theme {
  background-color: var(--white-smoke);
  transition: background-color var(--transition-func) var(--transition-dur);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.second-section {

  margin-bottom: 40px;
}

.home-pg-third-section {
  margin-bottom: 32px;
}

@media screen and (min-width: 768) {
  .second-section {
    margin-bottom: 52px;
  }

  .home-pg-third-section {
    margin-bottom: 44px;
  }
}

@media screen and (min-width: 1280) {
  .second-section {
    margin-bottom: 80px;
  }

  .home-pg-third-section {
    margin-bottom: 80px;
  }
}

.main-container {
  width: 280;

  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .main-container {
    width: 280px;
    margin: 0 auto;
  }
}


@media screen and (min-width: 768px) {
  .main-container {
    width: 768px;
    margin: 0 auto;
  }
}


@media screen and (min-width: 1280px) {
  .main-container {
    width: 1278px;
    margin: 0 auto;
  }
}

