.list {
    list-style: none;
}

.catalog-search {
    margin-bottom: 30px;
}

.catalog-search-form {
    display: flex;
    flex-wrap: wrap;
    width: 220px;
}

.catalog-search-input {
    width: 173px;
    height: 40px;
    margin-right: 12px;
    padding-left: 24px;
    padding-right: 30px;

}

.search {
    display: block;
    box-sizing: border-box;
    border: 1px solid var(--white-smoke);
    border-radius: 8px;
    background-color: transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: var(--light-gray);
}

body.light-theme .catalog-search-input {
    border: 1px solid var(--gray);
}

body.light-theme .catalog-select-year {
    border: 1px solid var(--gray);
}

body.light-theme .catalog-select-country {
    border: 1px solid var(--gray);
}

.catalog-cross-clear-btn {
    left: 55%;
    top: 11%;
    transform: translateY(-50%);
    position: absolute;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: medium;
    cursor: pointer;
}

.catalog-cross-clear-btn-hide {
    display: none;
}

.icon-clear-btn {
    stroke: #f8f8f8;
}

.icon-clear-btn:hover {
    stroke: #F87719;
}

body.light-theme .icon-clear-btn {
    stroke: #282828;
}

body.light-theme .icon-clear-btn:hover {
    stroke: #F87719;
}


.catalog-search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    width: 30px;
    height: 30px;
    border: none;
    background: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
    border-radius: 50%;
}

.icon-search {
    stroke: var(--white-smoke);
}

body.light-theme .icon-search {
    stroke: var(--black);
}

.catalog-search-btn:hover .icon-search,
.catalog-search-btn:focus .icon-search {
    stroke: var(--orange);
}

.warning {
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: var(--white-smoke);
}

body.light-theme .warning {
    color: var(--black);
}

body.light-theme .choose-movie {
    color: var(--black);
}

.oops-not-find-hide {
    display: none;
}

.choose-movie-hide {
    display: none;
}

.tui-pagination-hide {
    display: none;
}




@media screen and (min-width:320px) {


    .catalog-search {
      
        padding-bottom: 16px;
        margin-bottom: 50px;
    }

    .catalog-search-form {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 280px;
        height: 40px;
    }


    .search.light-theme {
        border: 1px solid #595959;
        color: var(--gray);
    }

    .catalog-search-input {
        width: 173px;
        height: 40px;
        margin-right: 12px;
        padding-left: 24px;
        padding-right: 30px;

    }

    .catalog-select-year {
        width: 95px;
        height: 40px;
        padding-left: 16px;
        padding-right: 15px;

    }

    .catalog-select-country {
        width: 220px;
        height: 40px;
        margin-right: 20px;
        margin-top: 12px;
        padding-left: 20px;
    }

    input::placeholder {
        color: --light-gray;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
    }

    .catalog-cross-clear-btn {
        top: 50%;
        left: 53%;
    }

    .catalog-search-btn {
        width: 40px;
        height: 40px;
    }

    .catalog-search-btn:hover,
    .catalog-search-btn:focus {
        background: var(--white-smoke);
        border: 1px solid orangered;
        border-color: var(--orange);
    }

    .catalog-gallery-card {
        margin: auto;
        text-align: center;
    }

}

@media screen and (min-width:768px) {

    .catalog-search {

        padding-bottom: 36px;
        margin-bottom: 0;
    }

    .catalog-search-form {
        flex-wrap: nowrap;
        margin: auto;
        width: 548px;
        height: 44px;
    }

    .catalog-search-input {
        width: 188px;
        height: 44px;
    }

    .catalog-select-year {
        height: 44px;
        padding-left: 20px;
        margin-right: 12px;

    }

    .catalog-select-country {
        width: 181px;
        height: 44px;
        margin-right: 16px;
        margin-top: 0;
        padding-left: 20px;
    }

    .catalog-cross-clear-btn {
        left: 28%;
    }

    .catalog-search-btn {
        margin-top: 0;
        width: 44px;
        height: 44px;
    }

}

@media screen and (min-width:1280px) {

    .catalog-search {

        padding-bottom: 48px;
    }
    .search {
       
        font-size: 16px;
        
    }
    .catalog-search-form {
        width: 795px;
        height: 48px;
    }

    .catalog-search-input {
        margin-right: 20px;
        width: 315px;
        height: 48px;

    }


    .catalog-select-year {
        height: 48px;

    }

    .catalog-select-country {
        width: 281px;
        height: 48px;
        margin-right: 24px;

    }

    .catalog-cross-clear-btn {
        left: 35%;
        right: 74px;
    }

    .catalog-search-btn {
        width: 48px;
        height: 48px;
    }

}


